auth_enabled: false

server:
  http_listen_address: 0.0.0.0
  http_listen_port: 3100

common:
  path_prefix: /var/lib/loki
  replication_factor: 1

  ring:
    kvstore:
      store: memberlist

  storage:
    filesystem:
      chunks_directory: /var/lib/loki/chunks
      rules_directory: /var/lib/loki/rules

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /var/lib/loki/index
    cache_location: /var/lib/loki/cache

  filesystem:
    directory: /var/lib/loki/chunks

limits_config:
  retention_period: 7d

  ingestion_rate_mb: 8
  ingestion_burst_size_mb: 16

  max_query_length: 168h
  max_query_parallelism: 8

compactor:
  working_directory: /var/lib/loki/compactor
  delete_request_store: filesystem
  retention_enabled: true
# Disabling for now
# ruler:
#   storage:
#     type: local
#     local:
#       directory: /var/lib/loki/rules
